<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF160DBB1C914B3200B97B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF160DCF1C914B3200B97B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF160DDA1C914B3200B97B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
